@charset "utf-8";
/* CSS Document */
body{
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
	margin:0px;
	padding:0px;

}


ul{
	list-style:none;
}
a{
	text-decoration:none;
}
section{
	width:100%;
	height:95vh;
	background-image:url("/Portfolio/bg.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-color: #485461;
	background-blend-mode: multiply;
	position: relative;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items:center;
	height:60px;
	background-color:#ffffff;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	padding:0px 5%;

}
nav ul{
	display: flex;

}
.toggle{
	display: none;
}

nav ul li a{
	margin: 50px;
	margin-left: -20px;
	font-family:myriad pro regular;
	color:#505050;
	font-size: 18px;
	font-weight:700;
}
a.index-h1{
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    left: 90%;
    top: -30%;

}

.logo{
	font-family:RoadTest;
	color:#000000;
	font-size: 22px;
	transform: translateX(-30%);
}
.active{
	color:#2d2a2a;
	font-weight:bold;
}
.model{
	height:530px;
	position:absolute;
	bottom: 0%;
	left:57%;
	align-items: center;

}

/* text container */

#text-container{
    position: absolute;
    top: -20%;
    left: 10%;
    width: 250px;
    height: 100px;
    transform: translateY(200%);
    margin: 120px auto 0 auto;
    overflow: hidden;
}

#wrapper p{
    height: 100%;
    font-size: 36px;
    font-weight: bold;
    font-family: "Times New Roman",Times, serif;
    margin-block-start: -1em;

}

#nameDiv, #name2Div{
    width: 250px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

#nameDiv {
    background: transparent;
    color: black;
}

#nameDiv:hover{
    margin-top: -110px;
}


#name2Div {
    background: transparent;
    color: black;
}

.fancy-link{
    text-decoration: none;
    color: black;
    position: relative;

}


.fancy-link::after{
    content: "";
    position: absolute;
    left: 60px;
    bottom: 36px;
    width: 50%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.fancy-link:hover::after{
     transform: scaleX(1);
     transform-origin: left;
}


#text-container2{
    position: absolute;
    top: -10%;
    left: 10%;
    width: 250px;
    height: 100px;
    transform: translateY(200%);
    margin: 120px auto 0 auto;
    overflow: hidden;
}

#wrapper2 p{
    height: 100%;
    font-size: 36px;
    font-weight: bold;
    font-family: "Times New Roman",Times, serif;
    margin-block-start: -1em;

}

#nameDiv3, #name4Div{
    width: 250px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

#nameDiv3 {
    background: transparent;
    color: black;
}

#nameDiv3:hover{
    margin-top: -110px;
}


#nameDiv4 {
    background: transparent;
    color: black;
}

.fancy-link{
    text-decoration: none;
    color: black;
    position: relative;

}


.fancy-link::after{
    content: "";
    position: absolute;
    left: 60px;
    bottom: 36px;
    width: 50%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.fancy-link:hover::after{
     transform: scaleX(1);
     transform-origin: left;
}



#text-container3{
    position: absolute;
    top: 2%;
    left: 10%;
    width: 250px;
    height: 100px;
    transform: translateY(200%);
    margin: 120px auto 0 auto;
    overflow: hidden;
}

#wrapper3 p{
    height: 100%;
    font-size: 36px;
    font-weight: bold;
    font-family: "Times New Roman",Times, serif;
    margin-block-start: -1em;

}

#nameDiv5, #nameDiv5{
    width: 250px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

#nameDiv5 {
    background: transparent;
    color: black;
}

#nameDiv5:hover{
    margin-top: -110px;
}


#nameDiv6 {
    background: transparent;
    color: black;
}

.fancy-link{
    text-decoration: none;
    color: black;
    position: relative;

}


.fancy-link::after{
    content: "";
    position: absolute;
    left: 60px;
    bottom: 36px;
    width: 50%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.fancy-link:hover::after{
     transform: scaleX(1);
     transform-origin: left;
}



.text-container p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#6d6d6d;
	font-size:22px;
}
.text-container p:nth-child(2){
	font-family:calibri;
	font-weight:bold;
	letter-spacing:1px;
	color:#1a1a1a;
	font-size:60px;

}
.text-container p:nth-child(3){
	font-family: myriad pro regular;
	color: #403e3e;
	font-size:30px;
	line-height:30px;
}

.text-container p{
	margin:45px 0px 25px;
	line-height:0px;
	transform: translateX(-15%);

}
.text-container button{
	width:130px;
	height:42px;
	border-radius:10px;
	font-family:calibri;
	font-weight:bold;
	font-size: 14px;
	outline:none;
	margin:0px 10px;
	transform: translateX(-40%);

}
.text-container{
	position: absolute;
	left:13%;
	top:42%;
	transform:translate(-13%,-42%);
}
.hire-btn{
	border:2px solid #373636;
	color:#373636;
	background-color:transparent;

}
.down-cv{
	background-color:#0B0B0B;
	color:#fff;
	border:none;
}
button:active{
	transform:scale(0.5);
}

/* End Of text container */


.about-container{
    width: 90%;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin:-7% auto 20px auto;
    transform: translateX(3%)  translateY(50%);
    justify-content: space-evenly;
    align-items: center;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.about-text{
    transform: translateX(3px);
}

.img{
    border-radius: 20px;
}

.about-container img{
    height: 250px;
}

.about-text{
    width: 550px;
}

.about-text p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 0px;

}

.about-text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 5px;

}

.about-text p:nth-child(3)
.about-text p:nth-child(4){
     color: #403e3e;
     font-family: calibri;
     font-size: 16px;
}

.about-text button{
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    outline: none;
    font-family: "Times New Roman",Times, serif;
    font-weight: bold;
    background-color: #150c08;

}

.services{
    height: 600px;
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
    padding: 2% 10% 0px 10%;

}
div.services-text{
    transform: translateY(100%);
    width: 50%;
    color: #FFFFFF;
}
div.services-text p:nth-child(1){
     font-family: "Times New Roman",Times, serif;
     font-weight: bold;
     font-size: 30px;
     color: #FFFFFF;

}
div.services-text p:nth-child(2){
     font-family: "Times New Roman",Times, serif;
     font-weight: bold;
     font-size: 15px;
     color: #000000;

}
div.services-text p:nth-child(3){
     font-family: "Times New Roman",Times, serif;
     font-weight: bold;
     font-size: 15px;
     color: #000000;
}
.box-container{
	display:flex;
	justify-content:space-between;
	transform: translateY(90%);
	padding: 2px;
	margin-left: -12%;

}
.box-1,.box-2,.box-3{
	width: 300px;
	height:320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
	align-items: center;
	justify-content: center space-between;
	display: flex;
	flex-direction: column;
	margin: 0px 4px;


}

.box-1{
	background-image:url("/Portfolio/services-1.png");
}
.box-2{
	background-image:url("/Portfolio/services-2.png");
	transform: translateX(19%);
}
.box-3{
	background-image: url("/Portfolio/servies-3.png");
	transform: translateX(35%);
}
.box-1 span,
.box-2 span,
.box-3 span{
	width:40px;
	height:40px;
	border-radius:50%;
	background-color:#ffffff;
	display: flex;
	justify-content: center;
	align-items:center;
	font-family: calibri;
	font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
	color:#FFFFFF;
	font-family: calibri;
	font-size: 23px;
	font-size: 20px;
	line-height:0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
	font-family: calibri;
	color:#8F8F8F;
	text-align:center;
	width: 230px;
	margin:0px 0px 20px 0px;
	color: #88F8F8F;
}

box-1 button,
box-2 button,
box-3 button{
    width: 100px;
    height: 35px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 5px;
}

.contact-container{
     width: 100%;
     height: 280px;
     background-image: url('/Portfolio/project in your mind.png');
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     transform: translateY(100%);
     margin-left: -5%;




}

.contact-container p{
    color: #FFFFFF;
    font-size: 20px;
    font-family: calibri;
    font-weight: bold;
    margin-left: -1%;
    text-align: center;

}

.contact-container button{
    width: 20%;
    height: 20%;
    background-color: #FFFFFF;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    margin-left: -1%;
    text-align: center;
}


footer{
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(100%);
    margin-left: -1%;

}

footer p{
    font-family: calibri;
}

footer p:nth-child(1){
    font:size: 30px;
    font-weight: bold;
    color: #191919;
}

footer p:nth-child(2){
    font:size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;

}

.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-item: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons{
    display: flex;

}

.copyright{
    color: #565555;
    font-size: 13px;
    position: absolute;
    left:50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.social-icons i{
    color: #000000;
    transform: translateY(30%);

}

.social-icons a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;

}

.social-icons a:hover i{
    color: #FFFFFF;
    transition: all ease 0.5s;

}

div.social-b{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

div.social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #FFFFFF;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

div.social-b i{
    color: #2b2b2b;
    font-size: 20px;
}

.social-b a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}

.social-b a:hover i{
    color: #FFFFFF;
    transition: all ease 0.5s;

}



/* About Page */



.name-container{
    height: 250%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    transform: translateY(30%);


}

.pic{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-30%);


}


.name-text{
    display: block;
    color: #2b2b2b;
    font-family: "Times New Roman",Times, serif;
    font-size: 20px;
    padding: 2px;
    background-color: #FFFFFF;
    padding-bottom: 20px;
    width: 70%;
    transform: translateX(22%);
    line-height: 2.5em;
    margin-bottom: 32px;



}

div.Heading{
    color: #2b2b2b;
    font-family: "Times New Roman",Times, serif;
    font-size: 20px;
    padding: 2px;
    position: absolute;
    top: -27%;
    left: 33%;

}


.h2{
    color: #2b2b2b;
    font-family: "Times New Roman",Times, serif;
    font-size: 20px;
}

p2{
    font-family: "Times New Roman",Times, serif;
    font-size: 25px;
    line-height: 2.5em;
    margin-bottom: 32px;
}

.firstP{
    font-size: 25px;
    line-height: 5%;
    margin-bottom: 32px;
}

.secondP{
    font-size: 25px;
    line-height: 2.5em;
    margin-bottom: 32px;
}

.thirdP{
    font-size: 25px;
    line-height: 2.5em;
    margin-bottom: 32px;
}

hr{
    background-color: transparent;
    overflow: hidden;
}

.index-h1{
     color: black;
}



/* End Of About Page! */

/* Contact Page */


body.contact-page{
    height: 100%;
    width: 100%;
}

h1{

   text-align: center;
   position: relative;
   font-family: "Times New Roman",Times, serif;
   font-size: 40px;


}

.contact2-container {
    transform: translateX(50%);
    width: 50%;
}

.contact2-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    font-size: 30px;
    text-align: center;

}

.contact2-container p:nth-child(2){
    line-height: 170%;
    font-family: "Times New Roman",Times, serif;
    font-size: 20px;
    text-align: center;

}

.contact2-container p:nth-child(3){
    line-height: 170%;
    font-family: "Times New Roman",Times, serif;
    font-size: 20px;
    text-align: center;

}

.contact2-container p:nth-child(4){
    line-height: 170%;
    font-family: "Times New Roman",Times, serif;
    font-size: 20px;
    text-align: center;

}

 .button2 {
   position: absolute;
   left: 45%;
}

 .button3{
   position: absolute;
   left: 45%;
   bottom: -15.2%;
}

 .button4{
   position: absolute;
   left: 45%;
   bottom: -25%;
}

.index-a{
    transform: translateX(89%);
    font-weight: bold;
    color: #000000;
}

a{
     font-size: 18px;
     font-weight: bold;
     color: black;
}



/* End Of Contact Page */


/* Read More Page */

.carousel-cell{
     height: 465px;
     width: 400px;
     padding: 0;
     margin: 0;
}

.w3-image{
    height: 100%;
     width: 100%;
     object-fit: cover;
}

.readme_container{
    margin: 0;
    padding: 0;
    height: 300px;
    width: 300px;
    position: absolute;
    left: 550px;
    bottom: -40%;
    font-family: ;
}

.carousel{

}

p.p-index{
    font-size: 20px;
    font-family: 'Lora', serif;
    position: absolute;
    bottom: 20px;
    font-weight: 900;
    width: 350px;
}

.em-white_check_mark{
    padding: 2px;
    transform: translateX(5%);
}








/* End Of Read More Page */









/* Media Query's */

@media (min-width: 600px) {
    .contact-container {
       min-width: 110vw;
    }
}


@media (min-width: 600px) {
    img.model{
       align-items: center;
       margin-left: auto;
       margin-right: auto;
       top: 10.1%;
       left: 56%;
    }
}


@media (min-width: 600px) {
    .fancy-line{
       clear: both;
       visibility: hidden;
    }
}

